:root {
  --white: #fff;
  --black: #000;
  --font-color-base: #7c8894;
  --font-color-dark: #000000;
  --font-color-light: #b0aebe;
  --font-color-link: #57a6ff;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;

  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-15: 0.9375rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-25: 1.5625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.325rem;
}

html {
  scroll-behavior: smooth;
}

* {
  max-width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: var(--size-20);
  line-height: 1;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  padding-top: var(--size-10);
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
